/ThinkPHP/
/admin.shop.com/app/Runtime/
/www.shop.com/app/Runtime/
/admin.shop.com/Public/Admin/img/
.idea/
/admin.shop.com/Public/upload_img/
/admin.shop.com/app/Ext/Conf/config.php
/admin.shop.com/app/Common/Conf/config.php
